.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login > .login__container > button {
  width: 300px;
  background-color: #738adb;
  color: #eff2f5;
  font-weight: 800;
}

.login > .login__container > button:hover {
  width: 300px;
  background-color: black;
  color: #738adb;
}

.login > .login__container > div > img {
  object-fit: contain;
  height: 300px;
}
