.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login__container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#434547 , #23272a);
  padding: 50px 30px;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.login > .login__container > button {
  width: 300px;
  background-color: #738adb;
  color: #eff2f5;
  font-weight: 800;
  margin-top: 20px;
}

.login > .login__container > button:hover {
  width: 300px;
  background-color: black;
  color: #738adb;
}

.login > .login__container > div > img {
  object-fit: contain;
  height: 200px;
}
