.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login__container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#434547 , #23272a);
  padding: 50px 30px;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.login__container::before{
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 100%;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;

}

.login > .login__container > button:hover {
  width: 300px;
  background-color: black;
  color: #738adb;
}

.login > .login__container > div > img {
  object-fit: contain;
  height: 200px;
}
